
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/Admin_Zone_Layout.cshtml";
}


<style>
    .formb {
        border-radius: 5px;
      
        box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.39);
        background-color: white;
        border-radius: 15px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
</style>

<div class="row back">
    <div class="col-sm-3"></div>
    <!--======Main========-->
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12 formb">
                <h1 class="text-center">Change Password</h1><hr />
                <p>@ViewBag.Message</p>
                <form action="/Admin/ChangePassword" method="post">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Old Password</label>
                        <input type="password" class="form-control" name="Pass" placeholder="Enter Old Password">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">New Password</label>
                        <input type="password" class="form-control" name="NewPass" placeholder="Enter New Password">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" name="ConfPass" placeholder="Re-enter New Password">
                    </div>
                    <div class="mb-3 button">
                        <button type="submit" class="form-control btn btn-warning">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>


