@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Developers</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <style>
        body {
            background-color: #8EC5FC;
            background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

            button:hover, a:hover {
                opacity: 0.7;
            }

        p {
            margin-bottom: 2px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="margin-top:5px;">
            <div class="col-sm-1"></div>
            <div class="col-sm-10" style="text-align: center; background-color: black; color: aliceblue; padding-top: 10px; padding-bottom: 10px">
                <h2>
                    <i class="fa fa-group" style="font-size:36px;color:aliceblue"></i>
                    Meet the Team
                </h2>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row" style="margin-top:5%;margin-bottom:5%">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="/Content/images/Nidhipic.jpg" alt="Nidhi" style="width:298px;height:255px">
                            <h4>Nidhi Vishwakarma</h4>
                            <p class="title">Full Stack Web Developer</p>
                            <p>School of Management Sciences,VNS</p>
                            <div style="margin: 24px 0;">
                                <a href="https://www.linkedin.com/in/nidhi-vishwakarma-b946a9273"><i class="fa fa-linkedin"></i></a>&emsp;
                                <a href="https://instagram.com/code_her_wine?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D"><i class="fa  fa-instagram"></i></a>
                            </div>
                            <p style="background-color: black; color: aliceblue; padding-top: 7px; padding-bottom: 7px "><a href="mailto:vishwakarmanidhi00@gmail.com" style="text-decoration: none; color: aliceblue; padding-top:7px; padding-bottom:7px">Contact</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="/Content/images/Ashrafpic.jpg" alt="Ashraf" style="width:298px;height:255px">
                            <h4>Ashraf Waheed Ansari</h4>
                            <p class="title">Full Stack Web Developer</p>
                            <p>School of Management Sciences,VNS</p>
                            <div style="margin: 24px 0;">
                                <a href="https://www.linkedin.com/in/ashraf-waheed-ansari-437a951a0"><i class="fa fa-linkedin"></i></a>&emsp;
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>

                            <p style="background-color: black; color: aliceblue; padding-top: 7px; padding-bottom: 7px "><a href="mailto:xhackfuel@gmail.com" style="text-decoration: none; color: aliceblue; padding-top:7px; padding-bottom:7px">Contact</a></p>

                           
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="/Content/images/Avntikapic.jpg" alt="Avntika" style="width:298px;height:255px">
                                <h4>Avntika jaiswal</h4>
                                <p class="title">Full Stack Web Developer</p>
                                <p>School of Management Sciences,VNS</p>
                                <div style="margin: 24px 0;">
                                    <a href="https://www.linkedin.com/in/avntika-jaiswal-b2025120b"><i class="fa fa-linkedin"></i></a>&emsp;
                                    <a href="https://instagram.com/aj_avntika_avi?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D"><i class="fa fa-instagram"></i></a>
                                </div>

                                <p style="background-color: black; color: aliceblue; padding-top: 7px; padding-bottom: 7px "><a href="mailto:avntikajaiswal25aj@gmail.com" style="text-decoration: none; color: aliceblue; padding-top:7px; padding-bottom:7px">Contact</a></p>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
            </div>
        </div>

        <div class="row" style="margin-top:5%;margin-bottom:5%">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="/Content/images/Jaidpic.JPG" alt="John" style="width:298px;height:255px" />
                            <h4>Zaid Ali</h4>
                            <p class="title">Full Stack Web Developer</p>
                            <p>MCGVP,Chitrakoot</p>
                            <div style="margin: 24px 0;">
                                <a href="https://in.linkedin.com/in/rocky-amzr-4a42a4258"><i class="fa fa-linkedin"></i></a>&emsp;
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>

                            <p style="background-color: black; color: aliceblue; padding-top: 7px; padding-bottom: 7px "><a href="mailto:rockyamzr@gmail.com" style="text-decoration: none; color: aliceblue; padding-top:7px; padding-bottom:7px">Contact</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="/Content/images/Poonampic.jpg" alt="Poonam" style="width:298px;height:255px">
                            <h4>Poonam Singh</h4>
                            <p class="title">Full Stack Web Developer</p>
                            <p>MCGVP,Chitrakoot</p>
                            <div style="margin: 24px 0;">
                                <a href="https://www.linkedin.com/in/poonam-singh-4a051828b"><i class="fa fa-linkedin"></i></a>&emsp;
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>

                            <p style="background-color: black; color: aliceblue; padding-top: 7px; padding-bottom: 7px "><a href="mailto:poonamsingh30203@gmail.com" style="text-decoration: none; color: aliceblue; padding-top:7px; padding-bottom:7px">Contact</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="/Content/images/Anupampic.jpg" alt="Anupam" style="width:298px;height:255px">
                            <h4>Anupam </h4>
                            <p class="title">Full Stack Web Developer</p>
                            <p>MCGVP,Chitrakoot</p>
                            <div style="margin: 24px 0;">
                                <a href="#"><i class="fa fa-linkedin"></i></a>&emsp;
                                <a href="https://instagram.com/_a018_?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D"><i class="fa fa-instagram"></i></a>
                            </div>

                            <p style="background-color: black; color: aliceblue; padding-top: 7px; padding-bottom: 7px "><a href="mailto:rajanupamshivhare@gmail.com" style="text-decoration: none; color: aliceblue; padding-top:7px; padding-bottom:7px">Contact</a></p>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>