
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/General_Layout.cshtml";
}

<style>
    #backg {
        color: white;
        background-image: url(/Content/images/aboutusbackground.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        height: 450px;
        margin-bottom: 25px;
    }
</style>


<!---------------------------------------------BACKGROUD IMAGE SECTION----------------------------------------------------->
<div class="row d-flex align-items-center" id="backg">
    <div class="col-sm-12">
        <h1>ABOUT US</h1>
        <p>
            Welcome to Lost & Locate – a platform driven by the mission to bring smiles through reunions. <br>
            Our dedicated community of finders and seekers join forces to connect lost items with their rightful owners,<br>
            rekindling cherished memories and writing stories of joyful reunions.
        </p>
    </div>
</div>
<!-----------------------------------------DETAILED SECTION--------------------------------------->
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5 " style="background-color: #f7f3e3ff; border-radius:5px;">
        <h1>What we do...</h1>
        <br>
        <p style="font-size:18px;">
            These days many of us lose their valuable items so, there is a need to develop a proper platform i.e. available to returning these lost items Lost & Found" is a unique web portal that help us in many ways because this website will help you to find them.
            Also, when you find anything laying anywhere and you want to prove your honesty returning it to the owner, you can do it with the help of this web portal. <br><br>
            It is very useful not only to find your lost handset, documents etc. very easily, but also to find out your lost baby and child in any public place, big parks, in the big rush of any fair. overcrowded station and train etc. <br><br>
            If any people find anything then there is only one need to upload the picture of the item
            on this web. There is another option of "Found thing" is available People, who have lost their
            item, will search for it. They have to prove their ownership by giving some answers. By using
            this simple method, you can find your lost item
        </p>
    </div>
    <div class="col-sm-5">
        <img src="/Content/images/aboutus1.jpg" class="img-fluid" />
    </div>
    <div class="col-sm-1"></div>
</div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5" >
        <img src="/Content/images/aboutus2.jpg" class="img-fluid"  />
    </div>
    <div class="col-sm-5 py-4" style="font-size: 18px; margin-bottom: 20px; background-color: #a8763eff; border-radius: 5px;">

        <p><b>1. What is Lost and Found?</b></p>
        <p>Lost and Found is a service or location where lost items are collected and stored, with the hope of reuniting them with their rightful owners. It could be a physical space like a department or a virtual platform like a website or app.</p>
        <p><b>2. How does Lost and Found work?</b></p>
        <p>When someone finds a lost item, they can turn it in to the Lost and Found facility. The staff will document the item's description, date, and location of discovery. If the owner comes forward, they can claim their lost item by providing necessary identification.</p>
        <p><b>3. Common lost items:</b></p>
        <p>
            Lost and Found facilities often receive various items, including wallets, keys, phones, jewelry, bags, and even pets. It's important to provide detailed descriptions of lost items to increase the chances of successful reunions.
        </p>
        <p><b>4. Tips for using Lost and Found services:</b></p>
        <p>
            - Report lost items as soon as possible.<br />
            - Provide accurate and specific details about the lost item.<br />
            - Check the Lost and Found regularly to see if your item has been turned in.<br />
            - Consider providing contact information to the Lost and Found staff.
        </p>
    </div>
    <div class="col-sm-1"></div>
</div>

<!------------------------------------------------------------------IMAGE SEcTION--------------------------------------->

<div class="row">
    <div class="col-sm-1"></div>
    <div></div>
    <div class="col-sm-1"></div>

</div>