
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/General_Layout.cshtml";
}


<style>
    #main {
        background-image: url(/Content/images/maps.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #op {
        background-color: black;
        opacity: 50%;
        color: white;
        text-align: center;
        font-size: medium;
    }

    .icon {
        font-size: 30px;
        color: white;
    }

    .sec {
        margin-top: 10px;
    }

    .para {
        font-size: 20px; 
    }

    .soc {
        text-decoration: none;
        font-size: 20px;
        color: white;
    }
     .soc:hover {
           
            font-size: 25px;
        }
</style>

<div class="row">
    <div class="col-sm-12 " id="main">
        <div class="row">
            <div class="col-sm-12" id="op">
                <br>
                <h1>
                    Contact Us
                </h1>
                <p><br>We align leaders around a shared purpose ans strategic story that catalyze That business and brand to take actions.</p>
                <div class="row" style="padding-bottom: 15px;">
                    <div class="col-sm-6">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d57766.34735987789!2d80.82456878552826!3d25.18984071555637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1skamadgiri%20hill%20chitrakoot%20uttar%20pradesh!5e0!3m2!1sen!2sin!4v1691820467993!5m2!1sen!2sin" style="border:0;width: 70%
                            ;min-height: 250px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="col-sm-6 sec">
                        <div class="row">
                            <div class="col-sm-6" style="margin-bottom: 35px;">
                                <i class="fa-solid fa-location-dot icon"></i>
                                <br>
                                <span class="para">Address</span>
                                <br>
                                <br>
                                <span>Sitapur , Chitrakoot</span><br>
                                <span>Uttar Prdesh , 210204</span>
                            </div>
                            <div class="col-sm-6" style="margin-bottom: 35px;">
                                <i class="fa-solid fa-envelope icon"></i>
                                <br>
                                <span class="para">Email</span>
                                <br><br>
                                <p>kamadgiritrust@chitrakoot.in</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <i class="fa-solid fa-phone icon"></i>
                                <br>
                                <span class="para">Call Us</span>
                                <br><br>
                                <p>+91 9874563215</p>
                            </div>
                            <div class="col-sm-6">
                                <span class="para">Socials</span>
                                <br><br>
                                <span>Connect with us digitally</span>
                                <br>
                                <a href="#" class="soc"><i class="fa-brands fa-square-instagram"></i></a>&emsp;<a href="#" class="soc"><i class="fa-brands fa-square-facebook"></i></a>&emsp;<a href="#" class="soc"><i class="fa-brands fa-square-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>